body{

    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

h3 {
    font-weight: normal;
}
select:required:invalid {
    color: gray;
}
#address{
    margin-top: 20px;
    width: 390px;
}
#date{
    margin: 20px 0px 0px 0px;
}
#gender{
    border: 1px solid #b0b0b0;
    width: 390px;
    height: 40px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
}
#border2{
    width: 400px;
    margin: 10px 0px 10px 10px;
}
#numberPhone{
    width: 300px;
}
#name{
    margin: 40px 0px 30px 0px;
}
input{
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid gray;
}
input:hover{
    border:1px solid #0266C8;
}
button{
    border: none;
    color: #0266C8;
    background-color: white;
}

button:hover{
    background-color: #dde6f6;
    color: #0251a1;
    cursor: pointer;
}
footer{
    margin: 0px auto;
    width: 700px;
}
#month{
    border: 1px solid #b0b0b0;
    width: 105px;
    height: 40px;
    border-radius: 5px;margin-right: 10px;
}
#day,#year{
    margin-right: 10px;
    width: 105px;
}

#nation{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #cecdcd;
    width: 80px;
    height: 42px;
}
#login,#login2{
    border:1px solid black;
    border-radius: 5px;
    width: 800px;
    margin: 0px auto;
    min-height: 600px;
    height: auto;

}
#login2{
    display: none;
}
#img{
    float: right;
    box-sizing: inherit;
    word-break: break-word;
}
#img img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

figcaption{
    font-size: 16px;
    font-weight: 300;
}
#border{
    margin: 20px 0px 20px 20px;
    float: left;
}
#youcan ,#character{
    font-size: 13px;
}

#fname{
    margin-right: 10px;
}
#username{
    margin-top: 20px;
    margin-bottom: 20px;
}

#emailName{
    width: 340px;
}
#password{
    margin-right: 10px;
}

#checkbox{
    height: 15px;
}
select{
    border: none;
}

#language{
    float: left;
}
#help{
    float: right;
}
#instead{

    margin-right:210px;
}
.next{
    background-color: #0251a1;
    color: white;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
}
#back{
    float: left;
    margin-right: 303px;
    margin-top: 50px;
}

.footer{
    color: #5d5d5d;
}
.footer:hover{
    background-color: white;
    color: #5d5d5d;
}
#1{
    margin-bottom: 20px;
}

.msg{
    color:red;
    font-size: 12px;
}
#pass{
    margin: 15px 0px 20px 0px;
}

#next{

    border-radius: 5px;
}
#next2{
    margin-top: 37px;
}